body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
}
.box {
    border: 2px solid;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.box:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.endOverlay {
    position: fixed;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reset,
.winner {
    font-size: 5rem;
    color: white;
}

#yesbtn {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

#yesbtn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}