body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
}
.box {
    border: 2px solid;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.box:hover {
    cursor: pointer;
    background-color: aliceblue;
}